// styles/scrollbar.scss
@use '@/styles/colors' as *;

@mixin custom-scrollbar {
  // Webkit-based browsers
  &::-webkit-scrollbar {
    width: 0;
    height: 0.75rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-10;
    border-radius: 0.5rem;
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: $gray-10 transparent;
}
