$spacing-medium-80: 80px;
$spacing-medium-60: 60px;
$spacing-medium-40: 40px;
$spacing-medium-32: 32px;

$spacing-regular-28: 28px;
$spacing-regular-20: 20px;
$spacing-regular-16: 16px;

$spacing-little-08: 8px;
$spacing-little-04: 4px;
