@use '@/styles' as *;

.header {
  box-shadow: $shadow-02;

  background-color: $white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 0.75rem 2rem;
}
