@use '@/styles' as *;

.header {
  box-shadow: $shadow-02;

  background-color: $white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 0.75rem 2rem;
}

.logoLink {
  all: unset;
  cursor: pointer;
  transition: ease all 200ms;

  &:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
  }
}
