@use '@/styles' as *;

.table__container {
  width: 100%;
  overflow: auto hidden;
  border-collapse: collapse;
  border-spacing: 0;

  @include custom-scrollbar;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  border-spacing: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  overflow: 'auto hidden';
  border-collapse: collapse;
}

.table__header {
  background-color: #2563eb;
  color: $white;
  text-align: start;
  padding: 0.75rem 2rem;

  &:first-child {
    border-top-left-radius: 0.5rem;
  }

  &:last-child {
    border-top-right-radius: 0.5rem;
  }
}

.table__row {
  border-top: 1px solid #e5e7eb;

  &--active {
    background: rgba(204, 243, 233, 0.5);
  }
}

.table__cell,
.table__cell--head {
  padding: 0.5rem 2rem;
  text-align: left;
}

.table__cell--head {
  font-weight: 600;
}

.table__empty {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  color: #555;
}
