@use '@/styles' as *;

.table__container {
  width: 100%;
}

.table__scrollable {
  @extend .table__container;
  overflow: auto hidden;
  border-collapse: collapse;
  border-spacing: 0;
  @include custom-scrollbar;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: $white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: $shadow-01;
}

.table__head {
  background-color: $blue-primary;

  .table__cell--head {
    color: $white;
    font-weight: 600;
    padding: 0.75rem 2rem;
    text-align: left;

    &:first-child {
      border-top-left-radius: 0.5rem;
    }

    &:last-child {
      border-top-right-radius: 0.5rem;
    }
  }
}

.table__body {
  .table__row {
    box-shadow: $shadow-01;

    &--active {
      background-color: rgba(204, 243, 233, 0.5);
    }

    .table__cell {
      padding: 0.5rem 2rem;
      text-align: left;

      &__skeleton {
        padding: 1rem 0.5rem;
      }
    }
  }
}

.table__empty {
  text-align: center;
  padding: 2rem 0;
  font-weight: 500;
  color: $gray-05;
}

.table__mobile {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.table__mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $white;
  background-color: $blue-primary;
  font-weight: 500;

  padding: 0.85rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  &-content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.table__mobile-row-content {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 0.75rem;
  }
}

.table__mobile-row-content-avatar {
  flex-shrink: 0;
}

.table__mobile-row {
  box-shadow: $shadow-01;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
  }

  &-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    object-fit: cover;
    flex-shrink: 0;
  }

  &-primary {
    font-weight: 500;
    color: red;
    // color: $gray-90;
  }

  &-icon {
    color: $blue-primary;
    width: 1.25rem;
    height: 1.25rem;
  }

  &-details {
    padding: 1rem;
    border-top: 1px solid $gray-10;

    .table__mobile-detail-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.75rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.table__mobile-header-icon {
  width: 0.5rem;
  height: 0.5rem;
  background-color: $white;
  border-radius: 9999px;
}

.table__cell__empty {
  text-align: center;
  padding: 1rem;
}

.table__mobile-empty {
  text-align: center;
  padding: 1rem;
  box-shadow: $shadow-01;
}
